<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.jzlj.dao.TransportMapper">

    <sql id="sql_base">
	tbt.id,carId,(gpsv.selfNumber + gpsv.carName) as carNumber,zNumber,czzId,jsUnit,gcName,site,approved,
	czArea,line,vdTimeStart,vdTimeEend,managers,entryTime,groupName,groupId,jdgroupId,czy,avTime
	</sql>
    <select id="getAll" resultType="Transport">
        SELECT
        <include refid="sql_base"></include>
        FROM TB_TRANSPORT tbt,gps_vehiclesInfo gpsv
        <where>
            tbt.carId = gpsv.id
            <if test="entryTime != null and entryTime != ''">AND ENTRYTIME >= #{entryTime}</if>
            <if test="entryTime1 != null and entryTime1 != ''">AND ENTRYTIME &lt;= #{entryTime}</if>
            <if test="jsUnit != null and jsUnit != ''">
                AND JSUNIT LIKE '%'+#{jsUnit}+'%'
            </if>
            <if test="gcName != null and gcName != ''">
                AND GCNAME LIKE '%'+#{gcName}+'%'
            </if>
            <if test="zNumber != null and zNumber != ''">
                AND zNumber LIKE '%'+#{zNumber}+'%'
            </if>
            <if test="vdTimeStart != null and vdTimeStart != ''">
                AND vdTimeStart >= #{vdTimeStart}
            </if>
            <if test="vdTimeEend != null and vdTimeEend != ''">
                AND vdTimeEend &lt;= #{vdTimeEend}
            </if>
            <if test="groupName != null and groupName != ''">
                AND groupName LIKE '%'+#{groupName}+'%'
            </if>
            <if test="groupId != null and groupId != ''">
                AND groupId  = #{groupId}
            </if>
            <!--截止时间小于当前系统时间 -->
            <if test="nowTime != null and nowTime != ''">
                AND vdTimeEend >= #{nowTime}
            </if>
            <!--截止时间大于当前系统时间 -->
            <if test="nowTime1 != null and nowTime1 != ''">
                AND vdTimeEend &lt; #{nowTime1}
            </if>
        </where>
    </select>

    <select id="getList" resultType="Transport" parameterType="hashmap">
        SELECT
        <include refid="sql_base"></include>
        FROM TB_TRANSPORT tbt,gps_vehiclesInfo gpsv
        <where>
            tbt.carId = gpsv.id
            <if test="entryTime != null and entryTime != ''">AND ENTRYTIME >= #{entryTime}</if>
            <if test="entryTime1 != null and entryTime1 != ''">AND ENTRYTIME &lt;= #{entryTime}</if>
            <if test="jsUnit != null and jsUnit != ''">
                AND JSUNIT LIKE '%'+#{jsUnit}+'%'
            </if>
            <if test="gcName != null and gcName != ''">
                AND GCNAME LIKE '%'+#{gcName}+'%'
            </if>
            <if test="zNumber != null and zNumber != ''">
                AND zNumber LIKE '%'+#{zNumber}+'%'
            </if>
           <if test="vdTimeStart != null and vdTimeStart != ''">
                AND vdTimeStart >= #{vdTimeStart}
           </if>
            <if test="vdTimeEend != null and vdTimeEend != ''">
                AND vdTimeEend &lt;= #{vdTimeEend}
            </if>
            <!--截止时间小于当前系统时间 -->
            <if test="nowTime != null and nowTime != ''">
                AND vdTimeEend >= #{nowTime}
            </if>
            <!--截止时间大于当前系统时间 -->
            <if test="vdTimeEend != null and vdTimeEend != ''">
                AND vdTimeEend &lt; #{nowTime1}
            </if>

            <if test="groupName != null and groupName != ''">
                AND groupName LIKE '%'+#{groupName}+'%'
            </if>
            <if test="groupId != null and groupId != ''">
                AND groupId  = #{groupId}
            </if>
        </where>
        order by carNumber
    </select>



    <insert id="save" parameterType="hashmap">
        INSERT INTO TB_TRANSPORT
        (carId,carNumber,zNumber,czzId,jsUnit,gcName,site,approved,czArea,line,vdTimeStart,vdTimeEend,managers,entryTime,groupName,groupId,jdGroupId)
        values
        <!-- 		<foreach collection="ids" index="index" item="item"  separator=","  > -->

        (#{id},(select carName from gps_vehiclesInfo where id =
        #{id}),dbo.Pro_Getqyzbh(GETDATE()),#{czzId},#{jsUnit},#{gcName},#{site},#{approved},#{czArea},
        #{line},#{vdTimeStart},#{vdTimeEend},#{managers},#{entryTime},#{groupName},#{groupId},#{jdGroupId})
        <!--         </foreach> -->

    </insert>

    <!--单个车辆核准-->
    <update id="approved" parameterType="hashmap">
		UPDATE TB_TRANSPORT SET
			approved=#{approved},czy=#{czy},czyId=#{czyId},avTime=#{avTime}
		WHERE ID = #{id}
	</update>

    <!--批量核准-->
    <update id="approveds" parameterType="hashmap">
        UPDATE TB_TRANSPORT SET
        approved=#{approved},czy=#{czy},czyId=#{czyId},avTime=#{avTime}
        WHERE ID IN
        <foreach item="ids" collection="ids" open="(" separator=","
                 close=")">
            #{ids}
        </foreach>
    </update>

    <insert id="saveLoan" parameterType="hashmap">
		INSERT INTO TB_LOAN
			(carName,gcId,gcName,jdTime,managers)
	    values  
            ((SELECT selfNumber+carName FROM gps_vehiclesInfo  WHERE id =  #{carId}),#{gcId},#{gcName},#{jdTime},#{managers})
	</insert>

    <select id="getAllLoan" resultType="Loan">
        SELECT * FROM TB_LOAN
        <where>
            <if test="jdTime != null and jdTime != ''">AND JDTIME >= #{jdTime}</if>
            <if test="jdTime1 != null and jdTime1 != ''">AND JDTIME &lt;= #{jdTime}</if>
            <if test="carName != null and carName != ''">
                AND CARNAME LIKE '%'+#{carName}+'%'
            </if>
            <if test="gcName != null and gcName != ''">
                AND GCNAME LIKE '%'+#{gcName}+'%'
            </if>
        </where>
    </select>
    <select id="getCountZZ" resultType="java.util.HashMap">
	    SELECT
			(
				CASE groupName
				WHEN '邯郸市丛台大地运输队' THEN '大地'
				WHEN '邯郸市丛台捷迅运输队' THEN '捷迅'
				WHEN '邯郸市丛台区玉马运输服务部' THEN '玉马'
				WHEN '邯郸市德信汽车运输队' THEN '德信'
				WHEN '邯郸市方捷运输有限公司' THEN '方捷'
				WHEN '邯郸市复兴区恒诚搬运装卸队' THEN '恒诚'
				WHEN '邯郸市邯山恒威汽车运输队' THEN '恒威'
				WHEN '邯郸市邯山鹏达运输公司' THEN '鹏达'
				WHEN '邯郸市恒辉运输有限公司' THEN '恒辉'
				WHEN '邯郸市建筑垃圾清运处' THEN '清运处'
				WHEN '邯郸市龙道运输有限公司' THEN '龙道'
				WHEN '邯郸市正龙汽车运输队' THEN '正龙'
				WHEN '邯郸县合洋建筑土方清运队' THEN '合洋'
				WHEN '邯郸县顺风运输队' THEN '顺风'
				END
			) AS name,
			COUNT (*) AS value
		FROM
			tb_transport
		GROUP BY
			groupName 

	</select>
</mapper>